{% load static %} {% load staticfiles %}
<link
  rel="stylesheet"
  type="text/css"
  href='{% static "monitor/gui/dist/monitor_page.css" %}'
/>
{% block content %}
<h2>{{ user }} Home</h2>
<h2>Groups to monitor:</h2>
<ul>
  {% for group in groups %}
  <li>
    <a href="{{ group.get_absolute_url }}">{{ group.name }}</a>
  </li>

  {% endfor %}
</ul>
{% endblock %}
<div id="app"></div>
<div>
  <a href="/custom_logout/">Logout</a>
</div>
{% block afterbody %}
<script>
  let username = "{{ user }}";
</script>
<script
  type="text/javascript"
  src='{% static "monitor/gui/dist/bundle.js" %}'
></script>
{% endblock afterbody %}
