<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new account</title>
</head>
<body>
    <h1>
        Try for free!
    </h1>
    <form action="/sign_up/" method="post">
        {% csrf_token %}
        <label for="email">Enter your email</label>
        <input type="email" id="email"><br />
        <label for="username">Username</label>
        <input type="text" id="username"><br />
        <input type="submit" id="submit" value="Register me"><br>
    </form>
</body>
</html>
