<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new account</title>
</head>
<body>
    <h1>
        Try for free
    </h1>
    <form action="{% url 'create_trial_account' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Create new user"/>
    </form>
</body>
</html>
