{% block content %}
    <h2>Login</h2>
    <form method="post" action="{% url 'custom_login' %}">
        {% csrf_token %}
        <table>
            {{ login_form.as_table }}
        </table>
        <input type="submit" value="Login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

        <h2>Not registered yet? </h2>
        <h3><a href="/create_trial_account/">Try for FREE</a></h3>
        or
        <h3><a href="/create_business_account/">CREATE business account</a></h3>
        or
        <h3><a href="/testing/">Testing</a></h3>

{% endblock %}
