{% load static %} {% block content %}
<h2>Activate your account</h2>
<div>
  <p>
    Please, check your email ({{ email }}) - we just sent you an activation
    link.
  </p>
  <p>Click on it to activate your account.</p>
</div>
{% endblock %}
