<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Documentation</title>
</head>

<body>
    <h1>Documentation</h1>
    <div>
        <h2>
            Why?
        </h2>
        The purpose of the system is a cross-platform (currently works on Win7/8/10 and Linux Ubuntu 18), web-based and highly customizable
        <b>UART-port control and monitoring</b>.
        <p>Our approach is <b>every task that could be automated should be</b></p>
    </div>
    <h2>System's description</h2>
    <p>
        <p>
            <img src="{% static "../static/monitor/architecture.png" %}" alt="Architecture">
        </p>
        The system is con are three main parts:
        <ul>
            <li>
                <p>
                    <b>Agent</b> actually "talk" to the devices through UART-ports and passes data to/from Backend
                </p>
                <p>
                    <img src="{% static "../static/monitor/agent_config.png" %}" alt="Agent configuration window">
                </p>
            </li>
            <li>
                <b>Backend</b> is the (web) server.
                It connect <b>Client</b> (GUI) to <b>Agent</b>,
                store all the settings (ports' settings, user profile and preferences),
                control access permissions,
                device's commands, sequences of commands and (if required) history
            </li>
            <li>
                <p>
                    <b>Client</b>
                    (GUI) run in a web-browser (currently tested on Chrome 71 and Firefox Quantum 1.0)
                    and show sent commands and (with minimal delays) data received from device.
                </p>
                <p>
                    Every configured device will be represented in its own <i>dashboard</i> with configured
                    <i>list of commands</i>, <i>history section</i> and <i>control toolbar</i>.
                </p>
                <p>
                    <img src="{% static "../static/monitor/device_dashboard.png" %}" alt="Device dashboard">
                </p>
                <p>
                    The main monitoring window will represent all the devices, attached to the <b>Agent</b> and configured on <b>Backend</b>
                </p>
                <p>
                    <img src="{% static "../static/monitor/main_monitoring_window.png" %}" alt="Main monitoring window">
                </p>
                <p>
                    There are minimized devices on the page's bottom (just like regular window on Windows' TaskBar)
                </p>
            </li>
        </ul>
    </p>
</body>
</html>
