{% load static %}
{% block content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <footer>
    <h2>Not registered yet? </h2>
    <h3><a href="/create_trial_account/">Try for free</a></h3>
    or
    <h3><a href="/create_business_account/">Create business account</a></h3>
    </footer>

{% endblock %}
