<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>{{ header }}</h1>
    <h2>Communication data</h2>
    <div id="app"></div>
</body>
    {% load static %}
    <script type="text/javascript" src='{% static "monitor/gui/dist/bundle.js" %}'></script>
</html>