<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group {{ working_group.name }}</title>
</head>
<body>
    <div>
        <h2>
            {{ operator.username }}
        </h2>
    </div>
    <div>
        {% if stations %}
            <ul>
                {% for station in stations %}
                    <li><a href="/monitor/station/{{ station.id }}">{{ station.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

</body>
</html>