{% load staticfiles %}
<link rel="stylesheet" type="text/css" href='{% static "chat/gui/dist/monitor_page.css" %}'>
{% block content %}
    <h1>Diagnostic mode</h1>
    <div id="app">
    </div>
{% endblock content %}
{% block afterbody %}
    <script type="text/javascript" src='{% static "chat/gui/dist/bundle.js" %}'></script>
{% endblock afterbody %}
