{% load static %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href='{% static "monitor/gui/dist/monitor_page.css" %}'>
{% block content %}
    <h2>{{ user }} Home</h2>
    <ul>
        {% for group in groups %}
            <li>
                <a href="/monitor/group/{{ group.id }}">{{ group.name }}</a>
            </li>

        {% endfor %}
    </ul>
    <a href="/custom_logout/">Logout</a>
{% endblock %}
