{% load static %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ station.name }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href='{% static "monitor/gui/dist/css/station-monitor.css" %}'
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
    ></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <link rel="icon" href='{% static "monitor/icons8-rs-232-male-50.png" %}' />

    <script type="text/javascript">
      let stationId = {{ station.pk }};
      let stationName = '{{ station.name }}';
    </script>
  </head>

  <body>
    <div id="station-monitor"></div>
  </body>

  <script
    type="text/javascript"
    src='{% static "monitor/gui/dist/bundle.js" %}'
  ></script>
  <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</html>
