{% load static %} {% block content %}
<h2>Login</h2>
<form method="post" action="{% url 'my_account' %}">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Login" />
</form>

<footer>
  <h2>Not registered yet?</h2>
  <h3><a href="/create_trial_account/">Try for free</a></h3>
  or
  <h3><a href="/create_business_account/">Create business account</a></h3>
</footer>

{% endblock %}
