@charset "utf-8";
@import '../node_modules/bulma';
@import '../node_modules/bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio.min.css';
@import '../node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider.min.css';
@import '../node_modules/bulma-extensions/bulma-tooltip/dist/css/bulma-tooltip.min.css';
@import '../node_modules/bulma-extensions/bulma-switch/dist/css/bulma-switch.min.css';


$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$box-color: $beige-lighter;
$box-background-color: #665566;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

html, body {
  margin: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1000px 1000px 1000px auto;
}

.menu {
  grid-column: 6 / 12;
}

.content {
  grid-column: 5 / 8;
}

.dashboard {
  width: 33%;
  height: 40%;
}

.all-dashboards {
  max-height: 80%;
  padding-left: 2%;
  flex-direction: column;
}

.sequence-runner {
  width: 30%;
}

.new-sequence-table {
  width: 30%;
}

.box {
    background-color: whitesmoke;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
    padding: 0.75rem;
    margin: -0.25rem;
}

.delete-column {
  width: 2%;
}

.header {
  grid-column: 1 / -1;
  position: -webkit-sticky;
  position: sticky;
  //margin: 0;
  padding: 10px;
  top: 0;
  background-color: #00b89c;
  width: 100%;
  overflow: hidden;
}

.footer {
  padding: 55px;
  //grid-column: 1 / -1;
  position: -webkit-sticky;
  position: sticky;
  margin-left: 0;
  bottom: 0;
  background-color: cornflowerblue;
  width: 100%;
}

.datamapper {
  height: 400px;
  flex-direction: row;
  overflow-y: auto;
  padding: -10px;
  margin: -10px;
}
